In [9]:
print("welcome to Python world")

welcome to Python world

In [10]:
name = str(12345)
reverseString = name[::-1]
print(reverseString)

54321

In [18]:
#dynamic programming

a=10
print(a)
print(id(a))

a=3.14
print(a)
print(id(a))

10
10751144
3.14
133729443515088

In [19]:

# create multiple variable
a,b,c = 10,20,"ntt"

print (a,b,c)

10 20 ntt

In [20]:
# assign single values to multiple variable
a=b=c=10

print(a,b,c)

10 10 10

In [30]:
# variable annotation
a:int=10

print(a)
print(id(a))
print(__annotations__['a'])

b:float = 3.14

print(b)
print(id(b))
print(__annotations__['b'])

c:str = "ntt"
print(c)
print(id(c))
print(__annotations__['c'])

10
10751144
<class 'int'>
3.14
133729441443152
<class 'float'>
ntt
133729249892592
<class 'str'>

In [32]:
# show all keyword list

import keyword

print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [34]:
""" multi line command
kjgfkj
kmfndgklfdjg
mfngfkgnj  """

print("multiline command")

multiline command

In [ ]:
"""

numeric type ; int,float,complex
sequence type - str,list,tuple
mapping type - dict
set type - set,frozenset
boolean type - bool
binary type - bytes,bytearray,memoryview

"""