In [ ]:
print("welcome to Python world")

welcome to Python world

In [ ]:
name = str(12345)
reverseString = name[::-1]
print(reverseString)

54321

In [ ]:
#dynamic programming

a=10
print(a)
print(id(a))

a=3.14
print(a)
print(id(a))

10
10751144
3.14
133729443515088

In [ ]:

# create multiple variable
a,b,c = 10,20,"ntt"

print (a,b,c)

10 20 ntt

In [ ]:
# assign single values to multiple variable
a=b=c=10

print(a,b,c)

10 10 10

In [ ]:
# variable annotation
a:int=10

print(a)
print(id(a))
print(__annotations__['a'])

b:float = 3.14

print(b)
print(id(b))
print(__annotations__['b'])

c:str = "ntt"
print(c)
print(id(c))
print(__annotations__['c'])

10
10751144
<class 'int'>
3.14
133729441443152
<class 'float'>
ntt
133729249892592
<class 'str'>

In [ ]:
# show all keyword list

import keyword

print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [ ]:
""" multi line command
kjgfkj
kmfndgklfdjg
mfngfkgnj  """

print("multiline command")

multiline command

In [ ]:
"""

numeric type ; int,float,complex
sequence type - str,list,tuple
mapping type - dict
set type - set,frozenset
boolean type - bool
binary type - bytes,bytearray,memoryview

"""

In [ ]:
"""python doesnt have array datatype
due tokenize
insert Operation
delete Operation
storage operation
instead of that we use str,list,tuple"""

In [ ]:
#String....Python has positive indexing and negative indexing

a ="NTT DATA"

print(a[-8])
print(a[0])

N
N

In [ ]:
""" Accessing substring in string

two ways:
  1) indexing
  2) slicing  -- slicing operator [:]
       syntax
           var_name[start:stop:step]   (stop-step)
"""

s = "Texas"
print(s[0:5:2])

Text = "code yug"
print(Text[0:3:1])

print(Text[0:7:2])
#           7-1  2-1
print(Text[0::1])  #default start and step value is zero

print(Text[::])  # default step value is 1

print(Text[0:4:1])  # step parameter can not be zero
print(Text[0:0:1])  # does not print

Txs
cod
cd u
code yug
code yug
code

In [ ]:
# negative slicing

city = "banglore"

print(city[-1:-4:-1])  #s[-1:-4+3 : -1+1]
print(city[-1:-5:-2])
print(city[-2:-6:2])  #print nothing
# third step parameter decide it is positive or negative slicing
print(city[-1::-1])

ero
eo

erolgnab

In [ ]:
string= 'python is fun'
print(string[0:6:2])
print(string[4])
print(string[::])
print(string[:5:])
print(string[::3])
print(string[-1:-7:-2]) #ufs
print(string[-2:-6:2]) #

pto
o
python is fun
pytho
ph  n
nfs

In [ ]:
#            IF STATEMENT  inside it we can use while and for loop

In [ ]:
if 4>2:
 print('true')
elif 3==3:
  print('good')
else:
 print('nice')
print('nice')

true
nice

In [ ]:
a = input('Enter a number : ')

if (int(a)>10):
  print('Number is greater than 10')
elif (int(a)<10):
  print('number is less than 10')
elif(int(a)==10):
  print('number is equal to 10')
else:
  print('Invalid input')

Enter a number : 1076
Number is greater than 10

In [ ]:
a = input('Enter your marks : ')

if (int(a)>35):
  print('you pass the exam')
else :
  print('you fail the exam')

Enter your marks : 44
you pass the exam

In [ ]:
a = int(input('Enter your marks : '))

if (a%2==0):
  print('Even number')
else :
  print('odd number')

Enter your marks : 4
Even number

In [ ]:
# NESTED IF

num = int(input('ENter a number :'))

if num > 0:
  print('Number is a positive number')
  if num % 2 == 0 :
    print('Number is even')
  else:
    print('Number is odd')
else:
  print('Negative number')

ENter a number :11
Number is a positive number
Number is odd

In [ ]:
# While loop

i=1
while i<5 :

  print(i)
  i=i+1

1
2
3
4

In [ ]:
# For LOOP


for i in 'NTTDATA':
 print(i)

N
T
T
D
A
T
A

In [ ]:
# NESTED LOOP

for i in 'Blr':
 print("outerloop")
 for j in [10,20,30]:
  print("inner loop")
  print(i,j)

outerloop
inner loop
B 10
inner loop
B 20
inner loop
B 30
outerloop
inner loop
l 10
inner loop
l 20
inner loop
l 30
outerloop
inner loop
r 10
inner loop
r 20
inner loop
r 30

In [ ]:
# Nested loop

for i in 'Blr':
 print("outerloop")
 for j in 'abc':
  print("inner loop")
  print(i,j)

outerloop
inner loop
B a
inner loop
B b
inner loop
B c
outerloop
inner loop
l a
inner loop
l b
inner loop
l c
outerloop
inner loop
r a
inner loop
r b
inner loop
r c

In [ ]:
 #finding vowels in string

 v =['a','e','i','o','u']

 st = 'banglore'
 counter =0

 for i in 'banglore':
    if i in v:
     counter = counter +1

print(counter)

3

In [ ]:
# Revrse string using slicing

str ='Nbt'

for i in str:
  print (str[::-1])

tbN
tbN
tbN

In [ ]:
#plaindrone String

str = input("Enter a String : ")
rev =str[::-1]

if str == rev:
  print("String is plaindrone")
else:
  print("String is not plaindrone")

Enter a String : apple
String is not plaindrone

In [ ]:
for i in 'banglore':
  print(i)
  if i == 'g' :
    break

b
a
n
g

In [ ]:
# concatenation and multiplication of string

str1 = ' Apple'
str2 = ' banana'
print(str1+str2)
print(str1*3)

 Apple banana
 Apple Apple Apple

In [ ]:
# String is imutable

s1 = 'apple'
del s1
print(s1)

NameError: name 's1' is not defined

In [ ]:
str = input('Enter a string : ')
counter = 0
print(len(str))

for char in str:
  print(char)
  counter = counter+1

print('length of str is : ', counter)

Enter a string : Naming
6
N
a
m
i
n
g
length of str is :  6

In [ ]:
# count method

s1= 'My name is khan khan'
c = s1.count('khan',0,20)
print (c)

2

In [ ]:
#  String startwith()

mainstring = input('enter the main string ')
substring= input('enter a string ')

if(mainstring.startswith(substring)):
  print('substring is present')
else:
  print('substring is not present')

enter the main string Hello India
enter a string l
substring is not present

In [ ]:
str=input("Enter a number: ")
if str.startswith("92"):
  print("Pak")
elif str.startswith("91"):
  print("India")
elif str.startswith("1"):
  print("USA")
elif str.startswith("3"):
  print("uk")
else:
  print("Number is invalid")

Enter a number: 1 234567898
USA

In [4]:
###  lStrip function

url=["http://www.myntra.com","http://www.gmail.com","http://www.hula.com"]

for i in url:
  i=i.lstrip("http://")
  print(i)

ttp://www.myntra.com
ttp://www.gmail.com
ttp://www.hula.com

In [16]:
###  Strip function is combination of lstrip or rstrip

url=["http://www.myntra.com","http://www.gmail.com","http://www.hula.com"]

for i in url:
  i=i.strip("http://:tomc:a")
  print(i)

www.myntra.
www.gmail.
www.hula.

In [35]:
###  RStrip function

url=["http://www.myntra.com","http://www.gmail.com","http://www.hula.com"]

for i in url:
  i=i.rstrip(".com")
  print(i)

http://www.myntra
http://www.gmail
http://www.hula

In [22]:
s='I live in banglore'
print(s.replace('banglore','patna'))

I live in patna

In [34]:
#  SPLIT

s='I live in banglore'
s1 ='I_live_in_banglore'
print(s.split('b',3))
print(s1.split('_'))
print(s1.split('l',2))

['I live in ', 'anglore']
['I', 'live', 'in', 'banglore']
['I_', 'ive_in_bang', 'ore']

In [40]:
from re import X
###  list , tuple, dict , set

#swap
x=5
y=10
x,y= y,x

print(x,y)

10 5

In [ ]:
# LIST  --- it store different datatype ----its dynamic array