In [ ]:
print("welcome to Python world")

welcome to Python world

In [ ]:
name = str(12345)
reverseString = name[::-1]
print(reverseString)

54321

In [ ]:
#dynamic programming

a=10
print(a)
print(id(a))

a=3.14
print(a)
print(id(a))

10
10751144
3.14
133729443515088

In [ ]:

# create multiple variable
a,b,c = 10,20,"ntt"

print (a,b,c)

10 20 ntt

In [ ]:
# assign single values to multiple variable
a=b=c=10

print(a,b,c)

10 10 10

In [ ]:
# variable annotation
a:int=10

print(a)
print(id(a))
print(__annotations__['a'])

b:float = 3.14

print(b)
print(id(b))
print(__annotations__['b'])

c:str = "ntt"
print(c)
print(id(c))
print(__annotations__['c'])

10
10751144
<class 'int'>
3.14
133729441443152
<class 'float'>
ntt
133729249892592
<class 'str'>

In [ ]:
# show all keyword list

import keyword

print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [ ]:
""" multi line command
kjgfkj
kmfndgklfdjg
mfngfkgnj  """

print("multiline command")

multiline command

In [ ]:
"""

numeric type ; int,float,complex
sequence type - str,list,tuple
mapping type - dict
set type - set,frozenset
boolean type - bool
binary type - bytes,bytearray,memoryview

"""

In [ ]:
"""python doesnt have array datatype
due tokenize
insert Operation
delete Operation
storage operation
instead of that we use str,list,tuple"""

In [ ]:
#String....Python has positive indexing and negative indexing

a ="NTT DATA"

print(a[-8])
print(a[0])

N
N

In [ ]:
""" Accessing substring in string

two ways:
  1) indexing
  2) slicing  -- slicing operator [:]
       syntax
           var_name[start:stop:step]   (stop-step)
"""

s = "Texas"
print(s[0:5:2])

Text = "code yug"
print(Text[0:3:1])

print(Text[0:7:2])
#           7-1  2-1
print(Text[0::1])  #default start and step value is zero

print(Text[::])  # default step value is 1

print(Text[0:4:1])  # step parameter can not be zero
print(Text[0:0:1])  # does not print

Txs
cod
cd u
code yug
code yug
code

In [ ]:
# negative slicing

city = "banglore"

print(city[-1:-4:-1])  #s[-1:-4+3 : -1+1]
print(city[-1:-5:-2])
print(city[-2:-6:2])  #print nothing
# third step parameter decide it is positive or negative slicing
print(city[-1::-1])

ero
eo

erolgnab

In [15]:
string= 'python is fun'
print(string[0:6:2])
print(string[4])
print(string[::])
print(string[:5:])
print(string[::3])
print(string[-1:-7:-2]) #ufs
print(string[-2:-6:2]) #

pto
o
python is fun
pytho
ph  n
nfs

In [ ]:
#            IF STATEMENT  inside it we can use while and for loop

In [31]:
if 4>2:
 print('true')
elif 3==3:
  print('good')
else:
 print('nice')
 print('nice')

true